:root{
    --green: #95ec49;
    --black: #000000;
    --white: #f5f5f5;
    --silver: #c0c0c0;
    --light-black: #352f2f;
}



/* THIS IS CSS RESET */

body,div,h1,h2,h3,h4,h5,h6,ul,p,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: sans-serif;
}

body{background-color: #e3dede !important;}

*{box-sizing: border-box;}


a{text-decoration: none;}



/* THIS IS FOR NAVBAR */

nav{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-black);
}



#logo{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10vw;
    font-family: sans-serif;
    text-transform: capitalize;
}


#menu ul{
    margin-right: 10vw;
}



#menu ul li{
    margin: 0 25px;
    display: inline-block;
}


#menu ul li a{
    font-size: 15px;
    transition: all 0.5s;
    color: var(--silver);
    font-family: sans-serif;
    text-transform: uppercase;
}




#menu ul li a:hover{
    color: var(--green);
}




/* THIS IS FOR INTRO BACKGROUND */

#introbg{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-position: center;
    background-image: url('assets/intro-bg.jpg');
}


#middletext{
    line-height: 2;
}


#middletext h3{
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
}


#middletext p{
    margin: auto;
    width: 40vw;
    line-height: 1.3;
    font-size: 20px;
    color: var(--silver);
    text-align: center;
    font-family: sans-serif;
}



#middletext a{
    width: 120px;
    color: white;
    display: block;
    font-size: 15px;
    padding: 10px 5px;
    margin: 30px auto;
    text-align: center;
    transition: all 0.5s;
    font-family: sans-serif;
    text-transform: uppercase;
    background-color: var(--green);
}




#middletext a:hover{
    border-radius: 5px;
    background-color: #78fc04;
}





/* THIS IS AFTER INTRO BACKGROUND */

#wrapper{
    height: 80vh;
    display: flex;
    padding: 0 10vw;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}




.item1{
    line-height: 2;
    margin-right: 2vw;
}



.item1 h4{
    display: inline;
    font-size: 30px;
    font-family: sans-serif;
}



.item1 .first{
    display: inline;
}



.first span{
    font-size: 30px;
    font-weight: bold;
    color: var(--green);
    font-family: sans-serif;
    text-transform: capitalize;
}






.item1 span:after{
    content: "";
    width: 5vw;
    height: 3px;
    display: block;
    background-color: var(--green);
}




.item1 p{
    line-height: 1.5;
    margin-top: 30px;
    text-align: justify;
    font-family: sans-serif;
}



.item1 a{
    color: white;
    font-size: 12px;
    padding: 2vh 1vw;
    line-height: 6;
    transition: all 0.5s;
    font-family: sans-serif;
    text-transform: uppercase;
    background-color: var(--green);
}



.item1 a:hover{
    border-radius: 5px;
    background-color: #78fc04;
}




.item2{
    display: flex;
    margin-left: 2vw;
    line-height: 2.5;
    align-items: center;
    justify-content: center;
}



.subitem1{
    margin-right: 1vw;
}

.subitem2{
    margin-left: 1vw;
}


.item2 img{
    height: 25vh;
    width: 20vw;
}


.item2 h5{
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
}



.item2 p{
    width: 20vw;
    line-height: 1.5;
    text-align: justify;
    font-family: sans-serif;
}



/* THIS IS FOR OUR SERVICE */

#service-wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--green);
    justify-content: space-evenly;
}




.service-text li h3:after{
    content: "";
    width: 5vw;
    height: 3px;
    margin: auto;
    display: block;
    background-color: var(--white);
}




.service-text{
    line-height: 4;
}


.service-text li h3{
    color: #fff;
    font-size: 35px;
    line-height: 2;
    text-align: center;
    font-family: sans-serif;
    text-transform: capitalize;
}

.service-text li p{
    font-family: sans-serif;
    line-height: 3;
    color: #fff;
    text-align: center;
}


.services{
    display: flex;
    padding: 0 15vw;
    line-height: 3;
    justify-content: center;
}



.service-img{
    margin: 0 1vw;
}



.service-img img{
    height: 150px;
    width: 150px;
    display: block;
    margin: auto;
    text-align: center;
    border-radius: 50%;
}



.service-img h3{
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    text-transform: capitalize;
}



.service-img p{
    color: white;
    line-height: 1.5;
    text-align: center;
    font-family: sans-serif;
}




/* THIS IS FOR GALLERY */
#gallery-wrapper{
    height: 200vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.gallery-images{
    display: flex;
    flex-wrap: wrap;
    padding: 0 15vw;
    justify-content: space-evenly;
}


.gallery-images img{
    width: 300px;
    height: 250px;
    margin: 1vh 0;
}



.gallery-text{
    line-height: 4;
}


.gallery-text li h3{
    font-size: 35px;
    line-height: 2;
    text-align: center;
    font-family: sans-serif;
    color: var(--var(--black));
    text-transform: capitalize;
}



.gallery-text li h3:after{
    content: "";
    width: 5vw;
    height: 3px;
    margin: auto;
    display: block;
    background-color: var(--green);
}




.gallery-text li p{
    line-height: 3;
    color: var(--black);
    text-align: center;
    font-family: sans-serif;
}



.gallery-btns{
    margin: 10vh auto;
}


.gallery-btns a{
    color: #fff;
    font-size: 13px;
    padding: 15px 15px;
    transition: all 0.5s;
    font-family: sans-serif;
    text-transform: uppercase;
    background-color: var(--silver);
}



.gallery-btns a:hover{
    background-color: #807b7b;
}


.active{
    background-color: var(--green) !important;
}




/* THIS IS FOR TESTIMONIALS */
#testimonials{
    height: 70vh;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('assets/testimonials-bg.jpg');
}



.overlap{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(55, 242, 55, 0.5);
}


.testimonials-text{
    line-height: 4;
}


.testimonials-text li h3{
    color: #fff;
    font-size: 35px;
    line-height: 2;
    margin-top: 10vh;
    text-align: center;
    font-family: sans-serif;
    text-transform: capitalize;
}



.testimonials-text li h3:after{
    content: "";
    width: 5vw;
    height: 3px;
    margin: auto;
    display: block;
    margin-bottom: 7vh;
    background-color: var(--white);
}



.testimonials-para p{
    line-height: 2;
    color: white;
    padding: 0 20vw;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
}


.testimonials-head h6{
    color: #fff;
    font-size: 25px;
    line-height: 4;
    text-align: center;
    font-family: sans-serif;
    text-transform: capitalize;
}



.testimonials-dots ul{
    width: 10vw;
    margin: auto;
}



.testimonials-dots ul li{
    color: #fff;
    display: inline;
    padding: 0 2px;
}




.testimonials-dots ul li i{
    color: #f1eeee;
    font-size: 13px;
}




/* THIS IS FOR CONTACT */
.contact{
    display: flex;
    height: 150vh;
    padding-top: 10vh;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--white);
    
}



.sub-text li h3:after{
    content: "";
    width: 5vw;
    height: 3px;
    margin: auto;
    display: block;
    background-color: var(--black);
}





.sub-text li h3{
    color: var(--black);
    line-height: 2;
    font-size: 35px;
    text-align: center;
    font-family: sans-serif;
    text-transform: capitalize;
}



.sub-text li p{
    line-height: 3;
    color: var(--black);
    text-align: center;
    font-size: 20px;
    margin-bottom: 100px;
    font-family: sans-serif;
}



.contact-data{
    display: flex;
    justify-content: space-evenly;
}



.bold{
    font-size: 20px;
    text-transform: uppercase;
}



.contact-data ul li{
    line-height: 2;
    text-align: center;
    font-family: sans-serif;
}



.contact-message{
    margin: auto;
}


input[type=text]{
    border: none;
    padding: 10px;
    outline: none;
    height: 8vh;
    width: 30vw;
    background-color: #fff;
}


form h4{
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
    font-family: sans-serif;
    text-transform: uppercase;
}



input[type=email]{
    border: none;
    padding: 10px;
    outline: none;
    height: 8vh;
    width: 30vw;
    background-color: #fff;
}






textarea{
    width: 60vw;
    resize: none;
    border: none;
    outline: none;
    padding: 15px;
    height: 30vh;
    background-color: #fff;
}


input[type=submit]{
    border: none;
    margin: auto;
    color: #fff;
    outline: none;
    display: block;
    cursor: pointer;
    padding: 3vh 2vw;
    transition: all 0.5s;
    text-transform: uppercase;
    background-color: var(--green);
}



input[type=submit]:hover{
    border-radius: 5px;
    background-color: #78fc04;
}




/* THIS IS FOR FOOTER */
.footer{
    height: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--light-black);
}


.footer-item1 ul li{
    display: inline;
    padding: 0 15px;
    font-size: 30px;
}



.footer-item1 li a i{
    color: var(--green);
}





.footer-item2{
    color: var(--silver);
    font-family: sans-serif;
}


.footer-item2 a{
    font-size: 18px;
    font-weight: bold;
    color: var(--black);
}